html
  head
    title Model trainer
    script(src="/js/FileSaver.min.js")
    script(src="/js/dropzone.js")
    script(src="/js/app.js")

  body
    h1 Just drop the csv here.

    form.dropzone(action="/upload", id="my-awesome-dropzone")

    p Or use the file selection menu.
    form(action="/upload" method="POST" encType="multipart/form-data")
      input(name="file" type="file")
      input(type="submit") 